**/*.zip
Project 1 - Data Modeling with Postgres/Final Submission/home/data
Project 2 - Data Modeling with Apache Cassandra/home/event_data
Project 2 - Data Modeling with Apache Cassandra/home/images/
Project 2 - Data Modeling with Apache Cassandra/home/.ipynb_checkpoints
Project 2 - Data Modeling with Apache Cassandra/*json


*.cfg

Project 5 - Data Pipelines/s3_files/__pycache__/
